body
{
	background-image:url(bg.jpg);
	opacity: 0.97;
	background-size: 620px 270px;

}

.main
{
	margin-top: 50px;
	background-color: #FFFFFF;
	border-radius: 7px;
	padding-top: 20px;
	padding-bottom: 20px;
	width:850px;
}

table, input, button
{
font-size:18px;	
}

.odd {
	background-color: #DEDEDE;
}

.even {
	background-color: #CCE6FF;
}

button, input
{
	color:red;
	border-color:#0064C8;
}